.main-nav {
  .main-footer & {
    @media (max-width: 767px) {
      width: 65%;
      margin: 0 auto;
    }
  }
}
.menu-list {
  @include display-flex;
  @include justify-content(flex-end);
  .main-header & {
    @media (min-width: 768px)and(max-width: 991px) {
      .btn {
        padding: 1.3rem 1.5rem;
      }
    }
    @media (max-width: 767px) {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 100;
      width: 60%;
      text-align: center;
      background: rgba(0, 0, 0, .91);
      a {
        color: $white;
      }
    }
    @media (max-height: 341px) {
      .btn {
        padding: 1.3rem 2rem;
      }
    }
  }
  .main-footer & {
    @media (max-width: 767px) {
      margin-bottom: 2rem;
      padding: 2rem 0;
      border: 1px solid $grey-text;
      background: $sky-blue;
      @include border-radius(2px);
    }
  }
  @media (max-width: 767px) {
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
  }
  li {
    &:hover {
      a {
        background: $buttons-bg;
        color: $white;
      }
    }
  }
  a {
    text-decoration: none;
    &:active {
      color: $menu-color;
    }
    &:focus {
      @extend a:active;

    }
  }
}