@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

@font-face {
  font-family: "open-sans";
  src: url('../fonts/Regular/OpenSans-Regular.ttf') format('truetype'),
  url('../fonts/Regular/OpenSans-Regular.woff') format('WOFF'),
  url('../fonts/Regular/OpenSans-Regular.eot') format('embedded-opentype'),
  url('../fonts/Regular/OpenSans-Regular.svg')format('svg');

}
@font-face {
  font-family: "gotham";
  src: url('../fonts/gotham-bold.ttf') format('truetype'),
  url('../fonts/gotham-bold.otf') format('opentype');
}