$white: #fff;
$black: #000;
$main-color: #ffc155;
$buttons-bg: #ffbb42;
$main-blue: #709dca;
$sky-blue: #e7edf3;
$blue-text: #99a9ae;
$orange-text: #f6772c;
$grey-text: #aeb7ba;
$main-dark: #394b50;
$menu-color: #868686;
$dots-color: #dedfe0;
$dot-active: #1ca8dd;
$common-text: #7b7b7b;
$border-color: #e7ad48;
$grey-blue: #818b95;
$light-blue: #e2e9f0;
$bright-blue: #b5bbc1;
$white-blue: #c2e1ff;
$blue-white: #8eb8e2;
$grey-white: #aeb7ba;
$light-grey: #cbcbcb;
$grey: #e3e7ec;